@page "/addinventory"
@using SistemaGerenciador.Domain
@using SistemaGerenciador.Regras.Inventories.Interfaces

@inject IAdicionarInventory addInventory;
@inject NavigationManager navigator;

<h3>Adicionar Inventory</h3>
<EditForm Model="inventory" class="ml-8" OnValidSubmit="Salvar">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="flex flex-wrap -mx-3 mb-2">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                Nome inventory
            </label>
            <InputText id="nome" @bind-Value="inventory.Name" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white">

            </InputText>
            @*<input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Jane">*@
            @*<p class="text-red-500 text-xs italic">Please fill out this field.</p>*@
        </div>
        
    </div>
    <div class="flex flex-wrap -mx-3 mb-2">

        <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-zip">
                Quantidade
            </label>
            <InputNumber id="quantidade" @bind-Value="inventory.Quantity" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">

            </InputNumber>
        </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-2">
       
        <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-zip">
                Preço
            </label>
            <InputNumber id="preco" @bind-Value="inventory.Price" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">

            </InputNumber>
        </div>
    </div>
    <br />
    <hr />

    <button type="submit" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 ">
        Salvar
    </button>

    <br>

    <button @onclick="Voltar"
            type="button" class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 shadow-lg shadow-purple-500/50 dark:shadow-lg dark:shadow-purple-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
        Cancelar
    </button>
</EditForm>



@code {
    private Inventory inventory = new();

    private void Voltar(){
        navigator.NavigateTo("inventories");
    }

    private async Task Salvar()
    {
        await addInventory.ExecuteAsync(inventory);
        navigator.NavigateTo("inventories");
    }
}
